body {
    margin: 0;
  position:absolute;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    height: 100%;

}

.wordhover {
    opacity: 0;
}



nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
}

nav.black {
    background: rgba(0, 0, 0, 0.8);
    height: 100px;
    padding: 10px 100px;
}


nav .logo {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 20px;
    transition: .3s;
}

nav.black .logo {
    color: #fff;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 80px;
    color: #ffffff;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

.sec1 {
  left: 5vw;
  width: 400px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  color: #ffffff;
  position: absolute;
  top: 60vh;
  font-family: "Quicksand", Arial;
}

.sec2 {
  left: 35vw;
  width: 400px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  color: #ffffff;
  position: absolute;
  top: 60vh;
  font-family: "Quicksand", Arial;
}

.sec3 {
  left: 65vw;
  width: 400px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  color: #ffffff;
  position: absolute;
  top: 60vh;
  font-family: "Quicksand", Arial;
}
.sec1-title {
  left: 5vw;
  width: 400px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  color: #ffffff;
  position: absolute;
  top: 55vh;
  font-family: "Quicksand", Arial;
}
.sec2-title {
  left: 35vw;
  width: 400px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  color: #ffffff;
  position: absolute;
  top: 55vh;
  font-family: "Quicksand", Arial;
}
.sec3-title {
  left: 65vw;
  width: 400px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  color: #ffffff;
  position: absolute;
  top: 55vh;
  font-family: "Quicksand", Arial;
}

nav.black ul li a {
    color: #ffffff;
}

nav ul li a:focus {
    outline: none;
}

.hover:hover {
    text-shadow: 2px 2px 3px rgba(58, 58, 58, 0.25), 2px 2px 3px rgba(58, 58, 58, 0.25);
}

nav.black ul li a:hover {
    color: #ffffff;
}


nav ul li a.active:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 10px 40px 0 rgba(0,0,0,0.19);
    font-weight: 900;
    color: black;
    background: #ffffff;
    border-radius: 5px;
}

.content p {
    width: 900px;
    margin: 30px auto;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}

.logo {
  position:absolute;
  margin: 0;
  padding: 0;
  top:-1vh;
}
#build-tree {
  top:12vh;
  left: 15vw;
  
}
#double-helix{
  position: absolute;
  margin-bottom: 90px;
  top: 30vh;
  left:40vw;
  clear: left;
  width: 300px;
}
#heat {
  position: absolute;
  margin-bottom: 90px;
  top: 50vh;
  left:40vw;
  clear: left;
  width: 300px;
}
 #tree {
  position: absolute;
  margin-bottom: 90px;
  top: 70vh;
  left:40vw;
  clear: left;
  width: 300px;
}
button {
  top: 50vh;
  left:50vw;
}

.a-text {
  text-decoration: none;
  color: #454545;
}
#obox {
  position: absolute;
  width:350px;
  height:48vh;
  background-color: rgba(113, 119, 124, 0.6);
  z-index: 0;
  left: 38.4vw;
  top:28vh;
  border-radius: 5%;
}